$primary-color: #272727;
$secondary-color: #FF652F;

* {
    box-sizing: border-box
}

@mixin project-card-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if(lightness($color) > 40%){
        @return #000;
    } @else {
        @return #FFF;
    }
}

@mixin smallmobile {
    @media screen and (max-width: 400px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 600px) {
        @content;
    }
}

@mixin bigmobile {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin screenHeight {
    @media screen and (max-height: 730px) {
        @content;
    }
}