.link-text {
        display: none;
        margin-left: 1rem;
        color: #C1C0C2;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    z-index: 2;
    margin: 0;
    background-color: #23232E;
    transition: width 300ms ease;

    &:hover {
        width: 12rem;

        .link-text {
            display: block;
        }
    }

    .navbar-nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .nav-item {
            width: 100%;
            margin: 5px 0px;

            &:last-child {
                margin-top: auto;
                cursor: pointer;
            }

            .nav-link {
                display: flex;
                align-items: center;
                height: 5rem;
                text-decoration: none;
                transition: all 500ms ease;

                i {
                    min-width: 2rem;
                    margin: 0 1.5rem;
                }

                &:hover {
                    background: #181820;
                    
                    i {
                        color: #FF652F;
                    }

                    .link-text {
                        color: white;
                    }
                }
            }
        }
    }
}

.lightSwitch {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    display: none;
    z-index: 1;
    cursor: pointer;
}

// @for $i from 1 through 4 {
//     .menu-nav__item:nth-child(#{$i}) {
//         transition-delay: ($i * 0.1s) + 0.15s;
//     }
// }