.projectTitle {
    color: $secondary-color;
    text-align: center;
    font-size: 3rem;
    margin-top: 20vh;
}

.projects {
    padding-bottom: 2rem;

    &__cards {
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8rem;
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: row;
        // justify-content: space-between;
        width: 80vw;
        height: 60vh;

        h3 {
            @include project-card-padding;
            font-weight: bold;
        }
        
        p {
            @include project-card-padding;
            line-height: 1.3;
        }

    }

    &__card {
        position: relative;
        margin-bottom: 2rem;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        // flex: 0 1 28%;
        // max-height: auto;
        grid-auto-rows: minmax(100px, auto);

        &:last-child {
            margin-bottom: 1rem;
        }

        .projectImage {
            border-radius: 10px 10px 0px 0px;
            max-width: 100%;
            height: auto;
            background-color: white;
        }
    }

    &__btns {
        position: relative;
        width: 100%;    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        width: 50%;
        padding: 1em 1.2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        text-align: center;
        transition: all 0.2s;
        border-radius: 0px 0px 10px 10px;

        &:hover {
            color:#000000;
            background-color:#FFFFFF;
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    
}

.copyright_projects {
    
    transform: 
        rotate(90deg)
        translate(-3rem, -5rem);
}