@include tablet {
    main {
        width: 100% !important;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;

        &:hover {
            width: 100vw;
        }

        .navbar-nav {
            flex-direction: row;

            .nav-link {
                flex-direction: column;
                justify-content: center;
                padding-bottom: 1.25rem;

                .link-text {
                    display: block;
                    margin-top: 0.3em;
                    margin-left: 0;
                    color: white;
                }
            }
        }
    }

    .carrousel {
        margin-left: 2.5rem;
    }

    .about__bio {
        font-size: 1.5rem;
    }

    .projects {

        &__card {
            flex: 0 1 48%
        }

        .text-secondary {
            font-size: 3rem;
        }

        &__btns {
            position: static;
            flex-direction: column;
        }

        &__btn {
            width: 100%;
        }
    }

    .contact {
        padding-top: 28vh;
    }

    .copyright_projects {
        margin-bottom: 4rem;
    }
}

@include bigmobile {
    .carrousel {
        width: 100%;
        margin-left: 0;
    }
}

@include mobile {

    .home {
        padding-top: 5vh;

        &__name {
            font-size: 3.3rem;
        }
    }

    .projects {
        padding-left: 3rem;

        &__card {
            flex: 0 1 90%;
            margin-left: 1rem;
        }
        
        &__btns {
            position: static;
            flex-direction: column;
        }

        &__btn {
            width: 100%;
        }
    }

    .projectTitle {
        margin-top: 10vh;
    }

    .nav-item:nth-last-child(-n+1) {
        display: none;
    }

    .contact {
        padding-top: 25vh;
    }
}

@include smallmobile {
    .nav-item:nth-last-child(-n+2) {
        display: none;
    }

    .carrousel {

        .my-slider {

            .currentCard {
                
                .bannerLogo {
                    width: 35vmin;
                    height: 35vmin;
                }
            }
        }
    }
}

@include screenHeight {
    .carrousel {
        .my-slider {
            .currentCard {
                .homeProjectName {
                    visibility: hidden;
                }
            }
        }
    }
}